{% extends 'layout.html'%}
{%block title %}About Me{%endblock%}
{%block body%} 
<h1> About us</h1>  
<p> This is a paragraph that exist just to meet the requirements. Honestly I much rather do CSS and HTML than design a site this way. This is anoying. I think I am getting the hang of it though so it’s not that bad. I guess I am having a change of heart, now you have a character development in this small paragraph.</p>
<ul>
  :) List of Students (:
  <li>Michael Womak</li>
</ul>
<a href="http://ninjaflex.com/">Ninja FLEX!!!</a>/
{%endblock%}