{% extends 'layout.html'%}
{%block title %}Trade{%endblock%}
{%block body%} 
<ul class="list-group list-group-flush" id="trades">
  <div class = "container">
    <li class="list-group-item"></li>
    <h1>{{ trade.item_name }}</h1>
    <h2>Posted by: {{ trade.user_name }}</h1>
    <p>Category: {{ trade.item_type }}</p>
    <p>Condition: {{ trade.item_condition }}</p>
    <p>{{ trade.item_desc }}</p>
  </li>
  </div>
  {%for note in trade_notes%}
  <div class = "container">
    <h2>{note.user_name}</h2>
    <p>{note.note_data}</p>
  </div>
  {%endfor%}
{%endblock%}