{% extends 'layout.html'%}
{%block title %}Trade{%endblock%}
{%block body%} 
<h1 style="text-align:center">Current Trades</h1>
<ul class="list-group list-group-flush" id="trades">
  {% for trade in all_trades %}
  <div class = "container">
    <li class="list-group-item"></li>
    <img src="{{url_for('static', filename='unavailable.png')}}" style="float:right; max-height:200px;"/>
    <h1><a href="trade/{{ trade.trade_id }}">{{ trade.item_name }}</a></h1>
    <p>Posted by: {{ trade.user_name }}</p>
    <p>{{ trade.item_type }}</p>
    <p>{{ trade.item_condition }}</p>
    <p>{{ trade.trade_date }}</p>
  </li>
  </div>

  {% endfor %}
{%endblock%}