{% extends 'layout.html'%}
{%block title %}User HomePage{%endblock%}
{%block body%} 
<div class = "container">
  <h1>{{user.user_name}}</h1>
  <div class = "container">
    <ul>
      <li>Reputation: {{user.reputation}}</li>
    </ul>
  </div>
</div>

<!--This is the method to post trades-->
<div class = "container">
    <h1>{{user.user_name}}'s active trade listings</h1>
    {%for trade in user_trades%}
    <p>{{ trade.item_name }}</p>
    <p>{{ trade.item_type }}</p>
    <p>{{ trade.size }}</p>
    <p>{{ trade.desc }}</p>
    {%endfor}
</div>

<div class = "container">
  <h1>Post a new trade!</h1>
</div>
{%endblock%}