{% extends 'layout.html'%}
{%block body%} 
<script src="{{url_for('static', filename='settings.js')}}"></script>
<div class = "container">
    <h1>User Settings</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="item_name">Name <a href="#" id="username"><i class="bi bi-pencil-square"></i></a></label>
        <input
        type="username"
        class="form-control"
        id="username"
        name="username"
        value="{{user.user_name}}"
        disabled
        />
    </div>
    <div class="form-group">
      <label for="item_name">Email <a href="#" id="email"><i class="bi bi-pencil-square"></i></a></label>
      <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      value="{{user.email}}"
      disabled
      />
  </div>
  <div class="form-group">
    <label for="item_name">Password <a href="#" id="password"><i class="bi bi-pencil-square"></i></a></label>
    <input
    type="password"
    class="form-control"
    id="password"
    name="password"
    placeholder="********"
    disabled
    />
</div>
<div class="form-group">
  <label for="item_name">Confirm Password</label>
  <input
  type="password"
  class="form-control"
  id="confirm_password"
  name="confirm_password"
  placeholder="********"
  disabled
  />
</div>
<div class="form-group">
  <label for="item_name">Shipping Address <a href="#" id="address"><i class="bi bi-pencil-square"></i></a></label>
  <input
  type="address"
  class="form-control"
  id="address"
  name="address"
  value=""
  disabled
  />
</div>

        <br/>
    <div align="center">
        <button type="submit" id="confirm" class="btn btn-primary">Confirm Changes</button>
        <a href="/delete"><button id="delete" class="btn btn-danger">Delete Account</button></a>
    </div>
</form>
</div>
{%endblock%}