{% extends 'layout.html'%}
{%block title %}User HomePage{%endblock%}
{%block body%} 
<div class = "container">
  <h1>{{user.user_name}}</h1>
  <div class = "container">
    <ul>
      <li>Reputation: {{user.reputation}}</li>
    </ul>
  </div>
</div>

<!--This displays all active trades to the user-->
<div class = "container">
    <button>
      <a href = "/usersettings">
        Edit list or add items
      </a>
    </button>
  </div>

<!--This is the method to post trades-->
<div class = "container">
    <h1>{{user.user_name}}'s active trade listings</h1>
</div>

<div class = "container">
  <h1>Post a new trade!</h1>
</div>
{%endblock%}